/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

nav ul{
    position: fixed;
    right: 0;
    z-index: 2;
}

ul li{
    list-style: none;
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 50% 50%;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
    margin: 2em;
    font-weight: 900;
    font-size: 1.2em;
}

li a{
    text-decoration: none;
    color: black;
}

main header{
    position: relative;
}

main section{
    width: 100vw;
    height: 100vh; 
    position: relative;   
}
/* posizionare cosi solo le img, le scritte vanno cambiate le coordinate */
section img{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
/* aggiustare grandezza font */
section figcaption{
    top: 10%;
    left: 50%;
    transform: translate(-50% ,900% );
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
}



section * {
    position: absolute;
}


#shoes1{
    background-color: red;
}

#shoes2{
    background-color: green;
}

#shoes3{
    background-color: yellow;
}